.form{
    width: 40%;
    border: 2px solid black;
    margin: 0 auto;
}
input{
    margin: 6px 0;
    padding: 10px 0;
    
}
:required{
    border: 1px solid red;
}
input:required:valid{
    border: 1px solid green;
}